/* admin.css */

/* Hide the Netlify CMS Main Header */

/* .nc-appHeader-main {
  display: none;
} */

/* Hide the Netlify CMS Main Header Buttons for Content/Media */

.nc-appHeader-button {
  display: none;
}