/* admin.css */

/* Hide the Netlify CMS Main Header */

/* .nc-appHeader-main {
  display: none;
} */

/* Hide the Netlify CMS Main Header Buttons for Content/Media */

/* .nc-appHeader-button {
  display: none;
} */

#nc-root header > div {
  background-color: #0072a9;
}

#nc-root header > div a,
#nc-root header > div button,
#nc-root header > div svg {
  color: #dedede;
}

#nc-root header > div a:hover,
#nc-root header > div button:hover {
  color: white;
}

#nc-root header nav ~ div svg {
  color: #0072a9;
}

#nc-root header nav ~ div svg:hover {
  color: white;
}
