// Note: In this "/admin" project there is *no build tool* setup to automatically compile this
// file to CSS, so VSCode with the "Live Sass" extension is recommended.
// With that tooling in place you can press F1 and manually compile using the command:
//
//    "Live Sass: Compile Sass - Without Watch Mode"
//
#nc-root header {
  >div {
    background-color: #0072a9;

    a,
    button,
    svg {
      color: #dedede;
    }

    a:hover,
    a.header-link-active,
    button:hover {
      color: white;

      svg {
        color: white;
      }
    }
  }

  nav~div {
    svg {
      color: #0072a9;
    }

    svg:hover {
      color: white;
    }
  }
}

.nc-app-header-btn-media {
  display: none !important;
}

// RBAC at the UI level - informal since hiding DOM elements can be easily defeated
#nc-root {
  // Start by hiding everything RBAC-related...
  .nc-app-ui-rbac {
    display: none;
  }

  .nc-app-sidebar-search {
    display: none;
  }

  // And then show things that should be visible to different roles...
  &.nc-user-role-is-admin {
    .nc-app-header-btn-wf {
      display: inline-flex;
    }
  }

  &.nc-user-role-is-admin,
  &.nc-user-role-is-bnsf,
  &.nc-user-role-is-cn {
    .nc-app-collection-container {
      display: block;
    }

    .nc-app-header-quick-add {
      display: block;
    }
  }

  &.nc-user-role-is-admin,
  &.nc-user-role-is-bnsf {
    .nc-app-sidebar-nav-link-reports_bnsf,
    .nc-app-header-quick-add-link-reports_bnsf {
      display: flex;
    }
  }

  &.nc-user-role-is-admin,
  &.nc-user-role-is-cn {
    .nc-app-sidebar-nav-link-reports_cn,
    .nc-app-header-quick-add-link-reports_cn {
      display: flex;
    }
  }
}
