// Note: We depend on the "Easy Sass" VSCode extension as our *build tool* to automatically compile this file to CSS on save
#nc-root header {
  >div {
    background-color: #0072a9;

    a,
    button,
    svg {
      color: #dedede;
    }

    a:hover,
    a.header-link-active,
    button:hover {
      color: white;

      svg {
        color: white;
      }
    }
  }

  nav~div {
    svg {
      color: #0072a9;
    }

    svg:hover {
      color: white;
    }
  }
}

#nc-root {

  // Media button is N/A for this project
  .nc-app-header-btn-media {
    display: none !important;
  }

  // Editor section heading styles
  .nc-app-editor-control-container .nc-app-editor-section-heading {
    background-color: #0072a9;
    padding: 12px;
    margin: 25px 0 15px -30px;

    span {
      color: white;
      font-size: 16px;
    }
  }

  .nc-app-editor-control-container:first-of-type .nc-app-editor-section-heading {
    padding: 17px;
    margin-top: -5px;
    margin-left: -60px;
    margin-bottom: 25px;

    span {
      font-size: 18px;
    }
  }
}

// RBAC at the UI level - "informal" RBAC since hiding DOM elements can be easily defeated
$role-list: admin bnsf cn kcs ns up aor;

#nc-root {

  // Start by hiding/disabling everything RBAC-related...
  .nc-app-ui-rbac {
    display: none;
  }

  .nc-app-sidebar-search {
    display: none;
  }

  div.nc-app-editor-control-container[data-field="Revisions"],
  div.nc-app-editor-control-container[data-field="RevisionMarkExpiration"] {
    // Individual input field RBAC... we hide the Revision-related fields from non-admins
    display: none;
  }

  input[id*="CarsOnLine"]:disabled {
    pointer-events: none;
    opacity: 0.4 !important;
    cursor: not-allowed;
    background-color: #eeeeee;
  }

  // And then show things that should be visible to different roles...
  &.nc-user-role-is-admin {
    .nc-app-header-btn-wf {
      display: inline-flex;
    }

    .nc-app-editor-publishing {
      display: block;
    }

    .nc-app-editor-btn-delete {
      display: inline-flex;
    }

    div.nc-app-editor-control-container[data-field="Revisions"],
    div.nc-app-editor-control-container[data-field="RevisionMarkExpiration"] {
      display: block;
    }
  }

  @each $role in $role-list {
    &.nc-user-role-is-#{$role} {

      .nc-app-collection-container,
      .nc-app-collection-entries {
        display: block;
      }

      .nc-app-header-quick-add {
        display: block;
      }
    }

    @if $role !=admin {

      &.nc-user-role-is-admin,
      &.nc-user-role-is-#{$role} {

        .nc-app-sidebar-nav-link-reports_#{$role},
        .nc-app-header-quick-add-link-reports_#{$role} {
          display: flex;
        }
      }
    }
  }
}
