#nc-root header > div {
  background-color: #0072a9;
}

#nc-root header > div a,
#nc-root header > div button,
#nc-root header > div svg {
  color: #dedede;
}

#nc-root header > div a:hover,
#nc-root header > div a.header-link-active,
#nc-root header > div button:hover {
  color: white;
}

#nc-root header > div a:hover svg,
#nc-root header > div a.header-link-active svg,
#nc-root header > div button:hover svg {
  color: white;
}

#nc-root header nav ~ div svg {
  color: #0072a9;
}

#nc-root header nav ~ div svg:hover {
  color: white;
}

.nc-app-header-btn-media {
  display: none !important;
}

#nc-root .nc-app-ui-rbac {
  display: none;
}

#nc-root .nc-app-sidebar-search {
  display: none;
}

#nc-root.nc-user-role-is-admin .nc-app-header-btn-wf {
  display: inline-flex;
}

#nc-root.nc-user-role-is-admin .nc-app-editor-publishing {
  display: block;
}

#nc-root.nc-user-role-is-admin .nc-app-editor-btn-delete {
  display: inline-flex;
}

#nc-root.nc-user-role-is-admin .nc-app-collection-container,
#nc-root.nc-user-role-is-admin .nc-app-collection-entries {
  display: block;
}

#nc-root.nc-user-role-is-admin .nc-app-header-quick-add {
  display: block;
}

#nc-root.nc-user-role-is-bnsf .nc-app-collection-container,
#nc-root.nc-user-role-is-bnsf .nc-app-collection-entries {
  display: block;
}

#nc-root.nc-user-role-is-bnsf .nc-app-header-quick-add {
  display: block;
}

#nc-root.nc-user-role-is-admin .nc-app-sidebar-nav-link-reports_bnsf,
#nc-root.nc-user-role-is-admin .nc-app-header-quick-add-link-reports_bnsf, #nc-root.nc-user-role-is-bnsf .nc-app-sidebar-nav-link-reports_bnsf,
#nc-root.nc-user-role-is-bnsf .nc-app-header-quick-add-link-reports_bnsf {
  display: flex;
}

#nc-root.nc-user-role-is-cn .nc-app-collection-container,
#nc-root.nc-user-role-is-cn .nc-app-collection-entries {
  display: block;
}

#nc-root.nc-user-role-is-cn .nc-app-header-quick-add {
  display: block;
}

#nc-root.nc-user-role-is-admin .nc-app-sidebar-nav-link-reports_cn,
#nc-root.nc-user-role-is-admin .nc-app-header-quick-add-link-reports_cn, #nc-root.nc-user-role-is-cn .nc-app-sidebar-nav-link-reports_cn,
#nc-root.nc-user-role-is-cn .nc-app-header-quick-add-link-reports_cn {
  display: flex;
}

#nc-root.nc-user-role-is-kcs .nc-app-collection-container,
#nc-root.nc-user-role-is-kcs .nc-app-collection-entries {
  display: block;
}

#nc-root.nc-user-role-is-kcs .nc-app-header-quick-add {
  display: block;
}

#nc-root.nc-user-role-is-admin .nc-app-sidebar-nav-link-reports_kcs,
#nc-root.nc-user-role-is-admin .nc-app-header-quick-add-link-reports_kcs, #nc-root.nc-user-role-is-kcs .nc-app-sidebar-nav-link-reports_kcs,
#nc-root.nc-user-role-is-kcs .nc-app-header-quick-add-link-reports_kcs {
  display: flex;
}

#nc-root.nc-user-role-is-ns .nc-app-collection-container,
#nc-root.nc-user-role-is-ns .nc-app-collection-entries {
  display: block;
}

#nc-root.nc-user-role-is-ns .nc-app-header-quick-add {
  display: block;
}

#nc-root.nc-user-role-is-admin .nc-app-sidebar-nav-link-reports_ns,
#nc-root.nc-user-role-is-admin .nc-app-header-quick-add-link-reports_ns, #nc-root.nc-user-role-is-ns .nc-app-sidebar-nav-link-reports_ns,
#nc-root.nc-user-role-is-ns .nc-app-header-quick-add-link-reports_ns {
  display: flex;
}

#nc-root.nc-user-role-is-up .nc-app-collection-container,
#nc-root.nc-user-role-is-up .nc-app-collection-entries {
  display: block;
}

#nc-root.nc-user-role-is-up .nc-app-header-quick-add {
  display: block;
}

#nc-root.nc-user-role-is-admin .nc-app-sidebar-nav-link-reports_up,
#nc-root.nc-user-role-is-admin .nc-app-header-quick-add-link-reports_up, #nc-root.nc-user-role-is-up .nc-app-sidebar-nav-link-reports_up,
#nc-root.nc-user-role-is-up .nc-app-header-quick-add-link-reports_up {
  display: flex;
}

#nc-root.nc-user-role-is-aor .nc-app-collection-container,
#nc-root.nc-user-role-is-aor .nc-app-collection-entries {
  display: block;
}

#nc-root.nc-user-role-is-aor .nc-app-header-quick-add {
  display: block;
}

#nc-root.nc-user-role-is-admin .nc-app-sidebar-nav-link-reports_aor,
#nc-root.nc-user-role-is-admin .nc-app-header-quick-add-link-reports_aor, #nc-root.nc-user-role-is-aor .nc-app-sidebar-nav-link-reports_aor,
#nc-root.nc-user-role-is-aor .nc-app-header-quick-add-link-reports_aor {
  display: flex;
}
