// MAIN App Styles

// Vuetify VARIABLE OVERRIDES
$body-font-family = 'Roboto', 'Segoe UI', 'sans-serif';
$font-size-root = 14px;

// Vuetify, all of it (a-la-cart option is available to reduce size)
@import '~vuetify/src/stylus/main';
