// RPM Stylus CSS - Variables
@require '~vuetify/src/stylus/settings/_colors'

// VARIABLES - Intended for general use and available to be overridden as needed
$rpm-color ?= {
  primary: #0072A9,
  accent: $orange.lighten-1,
  secondary: #0090D6,
  accent-dark: #004E73,
  shaded: $grey.lighten-2,
  info: $teal.lighten-1,
  warning: $amber.base,
  error: $deep-orange.accent-4,
  success: $green.accent-3
}
$rpm-toolbar-height ?= 64px
